<#import "../layout/default.html" as default>
<@default.layout>
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row justify-content-md-center">
					<div class="col-md-6">
						<ul class="list-group">
							<#list list as item>
								<li class="list-group-item ">
									<a href="../article/${item.cid!}">${item.title!}</a>
								</li>
							</#list>
						</ul>
					</div>
				</div>
				<div class="row justify-content-md-center">
					<nav aria-label="Page navigation">
						<ol class="pagination">
								<li class="page-item"><a class="page-link" href="./${prev!}">上一页</a><li>
								<li class="page-item"><a class="page-link" href="./${next!}">下一页</a><li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
</@default.layout>

